/* 
    Document   : musica
    Created on : 27-nov-2013, 9:09:10
    Author     : Miguel
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image: -o-linear-gradient(bottom, #1AC9D9 0%, #365BFF 100%);
    background-image: -moz-linear-gradient(bottom, #1AC9D9 0%, #365BFF 100%);
    background-image: -webkit-linear-gradient(bottom, #1AC9D9 0%, #365BFF 100%);
    background-image: -ms-linear-gradient(bottom, #1AC9D9 0%, #365BFF 100%);
    background-image: linear-gradient(to bottom, #1AC9D9 0%, #365BFF 100%);
}

table{
    margin:auto;
}

#encabezado{
    background-color: #000000;
    border-radius: 80px;
    margin: 2%;    
}

#titulo1{    
    color: #BFEBFF;
    float: left;
    margin: 5%;
}

#titulo2{
    color: #BFEBFF;
    float: right;
    margin: 5% 2%;
}

#imagen{
    height: 200px;
    margin: 2%;
    width: 850px;
}