/* 
    Document   : principal
    Created on : 25-sep-2013, 16:21:08
    Author     : jesus
    Description:  Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

h1#titulo {
	display: inline;
}




div#div_derecha_logo {
	position: absolute;
	float: right;
	width: 300px;
	padding: 2px;
	border: 2px solid grey;
	top: 5px;
	right: 5px;
	background-color: yellow;
}

/*Antiguo
div#div_menu {
	padding: 5px;
	background-color: lightblue;
}
#div_menu{
    margin: auto;
    width: 80%;
    height: 50px;
}
div#div_menu fieldset {
	
	padding: 0px 0px 5px 0px;
}

div#div_menu fieldset legend {
	
	color: blue;
}

ul#menu {
	margin: 0px;
	padding: 5px;
	list-style: none;
	color: white;
}

ul#menu li.item {
	float: left;
	border: 1px solid green;
	background-color: lightgreen;
	padding: 5px;
	margin: 0px 0px;
	background-color: blue;

}

ul#menu li.item:hover {
	position: relative;
	z-index: 1;
	border: 1px yellow solid;
	outline: yellow dotted thick;
}

ul#menu li.item a {
	text-decoration: none;
	color: white;

}

ul#menu li.item a:visited {
	text-decoration: none;
}

ul#menu li.item a:hover {
	color: yellow;
}

ul#menu li.item a:active {
	color: orange;
	background-color: #FF704D;
}
*/

/*Inicio menu nuevo*/

#div_menu{
    margin: auto;
    width: 80%;
    height: 50px;
}
ul.menu
{
    list-style:none;
    font-weight: 900;
}

ul.menu ul
{
    /*position:absolute; /* Esta posición es relativa al <li> que contiene a este <ul> */
    /*left:30px; /* Para que no monte sobre el <li> */
    top:-1px;
    display:none;
    list-style:none;
}

.item
{
    /*position:relative; /* Las coordenadas de los ul inferiores serán relativas al <li> que los contiene */
    /*width:70px;*/
    background-color: #BFEBFF;
    border-radius: 15px;
    width: 10%;    
    text-align: center;
}



.item:hover{
    width: 80%;
    float: left;
    padding-left: 10%;
    text-align: left;
}

.item:hover > .submenu
{
    display:block;    
}

.subitem{
    float: left;
    margin: 0 5% 2%;
    width: 15%;
}
.item_menu_1 , .item_menu_2{    
    text-align: center;
}

.item_menu_1{
    background: none repeat scroll 0 center #0086FC;
}

.item_menu_2{
    background: none repeat scroll 0 center #56B0FF
}

.item_menu_1 a:hover , .item_menu_2 a:hover {
    color:#fff;
}

.item_menu_1 a , .item_menu_2 a{
    color: #FFD92E;
}

/*Fin menu nuevo*/

form {
	margin: 5px;
	border: 3px solid lightgrey;
	padding: 5px;
	background-color: lightblue;
}

.requerido {
	
	color: orange;
}


div#pie {
	outline: 5px solid lightblue;
	margin: 10px 5px;
	border: 3px solid lightgrey;
	background-color: lightblue;
	padding: 5px;
}

.boton {
	margin: 5px 5px;
	padding: 2px;
	line-height: 170%;
	background-color: lightgray;
	border: 1px solid black;
	text-decoration: none;
}

table {
	border: 3px solid black;
	border-collapse: collapse;
}

table td, table th {
	padding: 5px;
}