/* 
    Document   : principal
    Created on : 25-sep-2013, 16:21:08
    Author     : jesus
    Description:  Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

a{
    color: black;
    font-style:italic;
}

a:hover{
    color: white;
}

h1#titulo {
    display: inline;
}

body{
    background-image: -o-linear-gradient(bottom, #1AC9D9 0%, #365BFF 100%);
    background-image: -moz-linear-gradient(bottom, #1AC9D9 0%, #365BFF 100%);
    background-image: -webkit-linear-gradient(bottom, #1AC9D9 0%, #365BFF 100%);
    background-image: -ms-linear-gradient(bottom, #1AC9D9 0%, #365BFF 100%);
    background-image: linear-gradient(to bottom, #1AC9D9 0%, #365BFF 100%);
    font-weight: bold;
}



div#div_derecha_logo {
    position: absolute;
    float: right;
    width: 300px;
    padding: 2px;
    border: 2px solid grey;
    top: 5px;
    right: 5px;
    background-color: yellow;
}

/*Inicio menu nuevo*/

#div_menu{
    margin: auto;
    width: 80%;
    height: 50px;
}
ul.menu
{
    list-style:none;
    font-weight: 900;
}

ul.menu ul
{
    /*position:absolute; /* Esta posición es relativa al <li> que contiene a este <ul> */
    /*left:30px; /* Para que no monte sobre el <li> */
    top:-1px;
    display:none;
    list-style:none;
}

.item
{
    /*position:relative; /* Las coordenadas de los ul inferiores serán relativas al <li> que los contiene */
    /*width:70px;*/
    background-color: #BFEBFF;
    border-radius: 15px;
    width: 10%;    
    text-align: center;
}



.item:hover{
    width: 80%;
    float: left;
    padding-left: 10%;
    text-align: left;
}

.item:hover > .submenu
{
    display:block;    
}

.subitem{
    float: left;
    margin: 0 5% 2%;
    width: 15%;
}
.item_menu_1 , .item_menu_2{    
    text-align: center;
    border-radius: 10px;
}

.item_menu_1{
    background: none repeat scroll 0 center #0086FC;
}

.item_menu_2{
    background: none repeat scroll 0 center #56B0FF
}

.item_menu_1 a:hover , .item_menu_2 a:hover {
    color:#fff;
}

.item_menu_1 a , .item_menu_2 a{
    color: #FFD92E;
    cursor: pointer;
}

/*Fin menu nuevo*/

form {
    margin: 5px;
    border: 3px solid lightgrey;
    padding: 5px;
    background-color: lightblue;
}

.requerido {

    color: orange;
}


div#pie {
    outline: 5px solid lightblue;
    border: 3px solid lightgrey;
    background-color: lightblue;
    padding: 5px;
    margin: 2% auto auto;width: 80%;
}

.boton {
    margin: 5px 5px;
    padding: 2px;
    line-height: 170%;
    background: none repeat scroll 0 center #56B0FF;
    border: 1px solid black;
    text-decoration: none;
    color: #FFD92E;
    cursor: pointer;
}

table {
    border: 3px solid #BFEBFF;
    border-collapse: collapse;
    font-weight:bold;
}

table thead{
    border-collapse: separate;
    border: 3px solid #BFEBFF;
}

table td, table th {
    padding: 5px;
    border: 1px solid #BFEBFF;
    text-align: center
}


/*#tabla_inicio>*{
    border: 1px black solid;    
}*/